

/* importando a foonte Cera que será usada em todo projeto */
@font-face 
{
  font-family: 'Cera';
  src: url(fonts/TypeMatesCeraRoundProMedium.otf) 
  format('opentype') ;    
}

/*======================= GERAL =====================*/
/* home  + navigation + services + about + contact*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
  font-family: 'Cera', Times, serif;
  font-size: 62.5%;      /* 1rem = 10px */

/*=== ÁREA  DE DECLARAÇÃO PARA VARIÁVEIS GLOBAIS ===*/

  /* ======= Paleta de cores ======*/
    /* === cores primarias ===*/
    --blue-hover : #0A4378;
    --blue-normal: #1971C2;
    --blue-light : #D0EBFF;
    /* === cores secundarias ===*/
    --orange-hover : #F23207;
    --orange-normal: #F28907;
    --orange-light : #F2A007;
    /* === cores tercearias ===*/
    --gray-hover : #212529;
    --gray-normal: #495057;
    --gray-light : #ffffff;

    --shadow-button: 4.8px 4.8px 4.8px 0.8px rgba(9, 162, 205, 0.63);

  /* calculo para deslocamento do menu quando mobile  */
    --nav-height: 7.2rem;   
}
html 
{
  /* Para quando o scroll nativo não funcionar: chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth; /* faz a rolagem suave*/
}
html,
body 
{
  width: 100%;
  height: 100%;
}
body  /* var */
{
  font-family: 'Cera';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--gray-light);
}
/* == estilização geral das divs do tipo
      wrapper para cada sections  ======*/
.wrapper 
{
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}
ul 
{
  list-style: none;
}
img 
{
  max-width: 100%;
}
section 
{
  padding-block: 10rem;
}
section header h4  /* var */
{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--blue-normal);
  margin-bottom: 1.6rem;
}
section header h2  /* var */
{
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--blue-normal);
}
section header h1  /* var */
{
  font-size: 3.4rem;
  color: var(--gray-hover);
  line-height: 130%;
  margin-bottom: 2.4rem;
}
section .content p  /* var */
{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-normal);
}
.button  /* var */
{
  background: var(--blue-normal);
  border: none;
  border-radius: 0.8rem;
  margin-bottom: 6rem;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  text-decoration: none;
  transition: background 200ms;
  box-shadow: var(--shadow-button);
  border: 1px solid var(--gray-light);
}
.button:hover  /* var */
{
  background-color: var(--blue-hover);
}
.social-links 
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*=== MENU-EXPANDED =================================*/
body.menu-expanded 
{
  overflow: hidden;
}
body.menu-expanded > :not(nav) 
{
  visibility: hidden;
}
.menu,
.close-menu,
body.menu-expanded .open-menu 
{
  opacity: 0;
  visibility: hidden;
}
body.menu-expanded .menu,
body.menu-expanded .close-menu
{
  opacity: 1;
  visibility: visible;
}
.menu 
{
  transform: translateY(100%);
}
body.menu-expanded .menu /* var */
{
  top: 0;
  left: 0;
  background: var(--blue-normal);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 300ms;
  transform: translateY(0);
}
.menu ul:nth-child(1) 
{
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.menu ul li a 
{
  color: white;
  text-decoration: none;
}
.menu .button /* var */
{
  background: white;
  border-radius: 0.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blue-normal);
  display: inline-block;
  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}
.menu .button:hover /* var */
{
  background-color: var(--blue-hover);
  color: white;
  filter: brightness(1.3);
}
body.menu-expanded .logo,
body.menu-expanded button 
{
  position: relative;
  z-index: 100;
}

/*=== NAVIGATION =========*/
nav /* var */
{
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}
nav .wrapper  /* var */
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll  /* var */
{
  background: var(--blue-normal);
}
#open-menu.scroll
{
  background-color: var(--gray-light);
}
nav button 
{
  background: none;
  border: none;
  cursor: pointer;
}
nav .menu,
nav .close-menu 
{
  position: fixed;
}
.logo
{
  width: 14.4rem;
  height: 4.8rem;
}

/*=== #HOME =======*/
#home  /* var */
{
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height)); 
  align-items: center;
  justify-items: center;
  
}
#home::before /* var */
{
  content: '';
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: var(--blue-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-image: url(assets/imagens/img01.jpeg);
  width: 100% ;
  height: 80%; 
  background-size: cover;
  background-repeat: no-repeat;
}
section#home
{
  z-index: -1;
  background-image: url(assets/imagens/img01.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% ;
  height: 80%; 
}
#home .button 
{
  margin-inline: auto;
}
#home h1
{
  color: var(--gray-light);
}
#home p  /* var */
{
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--gray-light);
  margin-bottom: 3.2rem;
  align-self: center;
}

/*=== SERVICES ==========*/
section#services 
{
  display: flex;
  margin-top: -10rem;
  margin-bottom: -18rem;
}
#services header h2 
{
  margin-bottom: 2rem;
}
#services .cards 
{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
#services .card  /* var */
{
  padding-left: 4rem;
  padding: 2.2rem;
  text-align: left;
  background: white;
  border: 1px solid var(--blue-normal);
  border-radius: 0.8rem;
}
.imgh3cards
{
  display: flex;
  gap: 1.4rem;
}
#services .card h3 
{
  margin-block: 1.6rem;
}

/*=== ABOUT ======*/
#about  /* var */
{
  text-align: left;
  margin-bottom: -22rem;
}
#about header h2 
{
  margin-bottom: 2.4rem;
}
#about .content p 
{
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*=== CONTACT =========*/
#contact 
{
  text-align: left;
  margin-bottom: -12rem;
}

#contact header 
{
  margin-bottom: 1.4rem;
}
.content a
{
  margin-bottom: 1.8rem;
}
#contact ul
{
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#contact ul li 
{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
a.email
{
  text-decoration: none;
  display: flex;
  gap: 1.2rem;
}
#txtEmail /**/
{
  color: var(--blue-normal);
  font-size: 2rem;
}
a.localizacao
{
  text-decoration: none;
  display: flex;
  gap: 1.2rem;
}
#txtLocalizacao
{
  color: var(--blue-normal);
  font-size: 1.8rem;
}
.mapa
{
  width: 350 ;
  height: 150;
  border: 0;
  border-radius: 1rem;
}

/* BACK TO TOP 
(setinha que leva ao topo da tela)*/
#backToTopButton 
{
  border-radius: 70%;
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
  margin-bottom: 10rem;
}
#backToTopButton.show 
{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*=== FOOTER =================================*/
footer 
{
  background-color: var(--blue-normal);
  padding-block: 6rem;
  text-align: left;
  color: white;
}
  
footer .logo 
{
display: inline-block;
margin-bottom: 2.4rem;
}

footer .logo svg 
{
width: 23.6rem;
height: 3.1rem;
}
  
footer .wrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'A B';
}

footer .col-a {
  align-self: center;
}


footer .col-b {
  align-self: center;
  justify-self: flex-end;
}
  
  
footer p 
{
color: var(--gray-light);
line-height: 2;
margin-bottom: 3.2rem;
}

footer .social-links {
justify-content: flex-start;
}

 /*======== RESPONSIVO ========*/
 @media (min-width: 1024px)  /* var */
 {
   /*=== GERAL ====*/
   body {
     overflow: auto;
   }
   .wrapper {
     width: min(112rem, 100%);
     display: grid;
   }
   .col-a {
     grid-area: A;
   }
   .col-b {
     grid-area: B;
   }
   section {
     padding-block: 16rem;
   }
   section header h2 {
     font-size: 4rem;
     line-height: 5.2rem;
   }

   /*=== NAVIGATION =========*/
   /* reset da navigation */
   nav#navigation .wrapper * 
   {
     margin: 0;
     padding: 0;
     visibility: initial;
     display: initial;
     opacity: initial;
     flex-direction: initial;
     position: initial;
     font-size: initial;
     font-weight: initial;
     transform: initial;
     color: initial;
     background-color: initial;
     filter: initial;
   }

   nav#navigation .close-menu,
   nav#navigation .open-menu,
   nav#navigation .social-links 
   {
     display: none;
   }
   nav#navigation .menu 
   {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 60%;
   }
   /* estiliza primeira lista encontrada*/
   nav#navigation .menu ul:nth-child(1) 
   {
     display: flex;
     gap: 3.2rem;
   }
   nav#navigation .menu ul li a  /* var */
   {
     color: var(--blue-normal);
     opacity: 0.7;
   }
   nav#navigation .menu a.button  /* var */
   {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1rem 2.4rem;
     border: 1px solid var(--blue-normal);
     border-radius: 0.8rem;
     color: var(--blue-normal);
     font-weight: 700;
     font-size: 1.4rem;
     line-height: 1.8rem;
     text-transform: uppercase;
   }
   nav#navigation .menu a.button:hover 
   {
     background-color: var(--blue-normal); /* var */
     color: white;
   }
   nav#navigation.scroll .menu ul li a  /* var */
   {
     font-size: 1.8rem;
     color: var(--gray-light);
     opacity: 0.6;
   }
   nav#navigation.scroll .menu a.button 
   {
     border-color: white;
     color: white;
   }
   nav#navigation .menu li a 
   {
     transition: opacity 0.4s;
   }
   nav#navigation .menu li a.active,
   nav#navigation .menu li a:hover 
   {
     opacity: 1;
     font-weight: 700;
   }
   /* barra abaixo das opções de menu */
   nav#navigation .menu li a::after  /* var */
   {
     content: '';
     width: 0%;
     height: 3px;
     background-color: var(--blue-normal);
     position: relative;
     bottom: -1rem;
     left: -0.8rem;
     display: block;
     transition: width 0.2s;
     box-shadow: var(--shadow-button);
   }
   nav#navigation.scroll .menu li a::after 
   {
     background-color: white;
   }
   nav#navigation .menu li a.active::after,
   nav#navigation .menu li a:hover::after 
   {
     padding-inline: 0.8rem;
     width: 100%;
   }
   nav#navigation.scroll .menu li a.active,
   nav#navigation.scroll .menu li a:hover 
   {
     opacity: 1;
   }
   nav#navigation.scroll .menu a.button.active,
   nav#navigation.scroll .menu a.button:hover 
   {
     background-color: var(--blue-normal);  /* var */
     filter: brightness(1.3);
     border: none;
   }

   /*=== HOME =======*/
   #home::before /* var */
   {
     height: calc(96% - var(--nav-height));
   }
   #home /* var */
   {
     padding-top: var(--nav-height);
   }
   #home .wrapper 
   {
     grid-template-columns: 60.5rem 1fr;
     grid-template-areas:
       'A B'
       'C C';
   }
   #home .col-a 
   {
     text-align: left; 
     align-self: center;
   }
   #home h1 
   {
     font-size: 5.2rem;
   }
   #home .content p
   {
     font-size: 1.8rem;
   }
   #home .stats 
   {
     grid-area: C;
     flex-direction: row;
     padding: 6rem;
     gap: 0;
   }
   /*barra criada entre as opções*/
   #home .stats .stat + .stat /* var */
   {
     border-left: 1px solid var(--blue-normal);
   }
   #home .stats .stat 
   {
     flex: 1;
   }
   #home .button 
   {
     margin: 0;
   }
   #home img 
   {
     width: 42rem;
   }

   /*=== SERVICES ======*/
   #services h2 
   {
     width: 47rem;
     margin-inline: auto;
   }
   #services .cards 
   {
     flex-direction: row;
     flex-wrap: wrap;
     gap: 4rem;
   }
   #services .card 
   {
     width: 30%;
     flex-grow: 1;
   }
   /*===  ABOUT  =========*/
   #about .wrapper 
   {
     grid-template-columns: 48rem 1fr;
     grid-template-areas: 'B A';
     gap: 6.7rem;
   }
   #about .col-a 
   {
     align-self: center;
   }
   #about .content p 
   {
     margin-bottom: 0;
   }
   /*=== CONTACT ==========*/

   #contact .wrapper 
   {
     grid-template-columns: 1fr 57.5rem;
     grid-template-areas: 'A B';
   }
   #contact h2 
   {
     width: 40.4rem;
   }

 } /*== FECHAMENTO DA ÁREA RESPONSIVO ==*/